@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem-Vindo!</h1>

<h5> Bem-vindo a pagina de adiministração do nosso jogo Batalha Naval!</h5>
<br />
<p>Clique no menu a esquerda para acessar as nossas ferramentas!</p>