@page "/tema"
@using Batalha_Naval_Admin.Models
@rendermode InteractiveServer

<PageTitle>Temas</PageTitle>

<h1>Temas</h1>

@if (themeObj == null)
{
    <p>Carregando ...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Imagem</td>
                <td>Descrição</td>
                <td>Tamanho</td>
                <td>Tema</td>
                <td>Alterar</td>
                <td>Deletar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var tema in themeObj)
            {
               <tr>
                   <td><span class="me-3">@tema.ThemeId</span></td>
                   <td><span class="me-3">TESTE</span></td>
                    <td><span class="me-3">TESTE</span></td>
                    <td><span class="me-3">TESTE</span></td>
                    <td><span class="me-3">TESTE</span></td>
                    <td><span class="me-3">TESTE</span></td>
                    <td><button class="btn btn-warning" @onclick="() => Funcao(tema.ThemeId)">Click</button></td>
                    <td><button class="btn btn-danger" @onclick="() => Funcao(tema.ThemeId)">Click</button></td>
               </tr>
            }

        </tbody>
    </table>    
}

@code {

    private ThemeModel[]? themeObj;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        themeObj = Enumerable.Range(1, 20).Select(index => new ThemeModel
            {
               ThemeId = Random.Shared.Next(0,20)
            }).ToArray();
    }

    String teste = "";

    public void Funcao(int pid)
    {
        Console.WriteLine("teste");
    }

}
