@page "/usuario"
@using Batalha_Naval_Admin.Models
@rendermode InteractiveServer

<PageTitle>Usuario</PageTitle>

<h1>Usuario</h1>

@if (usuarioObj == null)
{
    <p>Carregando ...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>   </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var usuario in usuarioObj)
                {
                    <div class="d-flex align-items-center mb-2">
                        <span class="me-3">ID: @usuario.Id</span>
                        <button class="btn btn-primary" @onclick="() => Funcao(usuario.Id)">Click</button>
                    </div>
                 }
            </tr>

        </tbody>
    </table>    
}




@code {

    private UsuarioModel[]? usuarioObj;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        usuarioObj = Enumerable.Range(1, 20).Select(index => new UsuarioModel
            {
               Id = Random.Shared.Next(0,20)
            }).ToArray();
    }

    String teste = "";

    public void Funcao(int pid)
    {
        Console.WriteLine("teste");
    }

}
